body, html {
    margin: 0;
    padding: 0;
}

.l-container {
    width: 92%;
    margin: 0 4%;
}

.page-header {
    background-color: #eee;
    box-shadow: 0 0 0.5rem 0.2rem #aaa;
    padding: 2rem 0;
}

.page-header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.calendar-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 70vh;
    margin: 2rem 0;
}

.calendar-item {
    outline: 1px solid #ccc;
    position: relative;
    font-size: 0.9em;
}

.calendar-item--option {
    color: #ccc;
}

.calendar-item--current {
    background-color: #d5f2ff;
}

.calendar-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.calendar-item__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.7em;
}

.calendar-grid .calendar-item {
    width: 14.28%;
    height: 20%;
}

.calendar-grid .calendar-item:before {
    display: none;
}

.calendar-grid--long .calendar-item {
    height: 16.66%;
}

.date-controls {
    margin: 2rem 0;
}

.event-popup {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid black;
    padding: 1rem;
    width: 15rem;
    z-index: 1;
}

.event-popup input,
.event-popup textarea {
    display: block;
    width: 100%;
    margin: 1rem 0;
}

.calendar-item .event-popup {
    left: 100%;
    top: 0;
}

.calendar-item__date {
    margin-bottom: 0.4em;
}

.calendar-item__title {
    margin: 0;
    font-weight: bold;
    font-size: 1em;
}

.calendar-item__description {
    margin: 0;
}

.event-popup__date {
    margin: 0 0 1rem;
    color: #666;
    font-size: 0.8em;
}

.event-popup__name {
    font-weight: bold;
    margin: 0 0 0.4em;
    font-size: 1.2em;
}

.event-popup__description {
    margin: 0;
}

.event-popup__text {
    margin-bottom: 1.5rem;
}